::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			color: #bdbabf!important;
			opacity: 1; /* Firefox */
			}

		:-ms-input-placeholder { /* Internet Explorer 10-11 */
		   color: #bdbabf!important;
		}

		::-ms-input-placeholder { /* Microsoft Edge */
		   color: #bdbabf!important;
		}

		* {
			font-family:'Rubik';
		}
		
.user-im {
		
    width: 30px;
    height: 30px;
    border-radius: 50%;
   margin-top:-2px;
	}